html{
    background-image: url("images/background.png");
}
body{
    background-color:#D7F2BA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    border-style: dashed;
    border-color: #785e59;
    width:80%;
}
div{
    margin:0, auto;
    padding:10px;
    border-radius:20px;
    background-color:#BDE4A8;
    overflow:hidden;
    box-shadow:5px;
}
span{
    margin:0, auto;
    padding:10px;

}
h1{
    color:#444c30;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style:dotted;
    text-decoration-color: darkgreen;
}

h2{
    color:rgb(24, 159, 71);
    margin:0 auto;
    text-align: center;
}
h3{
    background-color:#9CC69B;
    padding:10px;
    border-radius:30px;
    border-color:#676F54;
}
p{
    line-height:2em;
}
img{
    margin: 1px;
    border-radius:10px;

}
a{
    color:darkslategrey;
    text-decoration:none;
}
a:visited{
    color:darkolivegreen
}
a:hover{
   color: darkseagreen;
}
#sidebar{
    background-color:rgb(162, 202, 155);
    text-align: center;
}
figure{
    padding:0 0;
    margin: 10px 3px;
}
figcaption{
    font-size:small;
    color:#785e59;
}
.imcap{
    float:left;
}
.column{
    text-align: center;    

}
.chunk{
    margin: 10px;
}

@media(max-width:1200px){
    .column{
        padding:90px;
    }
    body{background-color:#D4E6B5;border-color:#877B66}
    div{background-color:#AFC97E}
    h1{color:#877B66}
    h2{color:#917d2f}
    h3{background-color:#a49bb2}
    #sidebar{background-color:#958bb4}
}
@media(max-width:992px){
    .column{
        padding:70px;
    }
    html{background-image:url(images/backgroundmedium.png)}
    body{background-color:#D8E1E9;border-color:#877B66}
    div{background-color:#B3C5D7}
    h1{color:#7392B7}
    h2{color:#759EB8}
    h3{background-color:#759EB8}
    #sidebar{background-color:#C5D5EA}
    a:hover{
   color: rgb(44, 147, 153);
}
}
@media(max-width:768px){
    .column{
        padding:20px;
    }
    html{background-image:url(images/backgroundsmall.png)}
    body{background-color:#B6AD90;border-color:#C2C5AA}
    div{background-color:#A68A64}
    h1{color:#333D29}
    h2{color:#582F0E}
    h3{background-color:#A68A64;color:#414833}
    #sidebar{background-color:#936639}
    figcaption{color:#2f1000}
    figure{width:100%}
    a:hover{
   color: rgb(112, 74, 30);
}
}