html{
    background-image: url("images/background.png");
}
body{
    background-color:#D7F2BA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    border-style: dashed;
    border-color: #785e59;
    width:80%;

    

}
div{
    margin:0, auto;
    padding:10px;
    border-radius:20px;
    background-color:#BDE4A8;
    overflow:hidden;
    box-shadow:5px;
    
    

}
h1{
    color:#676F54;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style:dotted;
    text-decoration-color: darkgreen;
    
}
h2{
    color:rgb(24, 159, 71);
    margin-left:2em;
    text-align: center;
}
h3{
    background-color:#9CC69B;
    padding:10px;
    border-radius:30px;
    border-color:#676F54;
}
p{
    line-height:2em;
}
img{
    margin: 1px;
    border-radius:10px;

}
a{
    color:darkslategrey
}
a:visited{
    color:darkolivegreen
}
#sidebar{
    background-color:rgb(162, 202, 155);
    text-align: center;
}
figure{
    padding:0 0;
    margin: 10px 3px;
}
figcaption{
    font-size:small;
    color:#785e59;
}
.imcap{
    float:left;
}
.column{
    text-align: center;    

}
.chunk{
    margin: 10px;
}

@media (max-width: 1200px){
    .column{
        padding:100px;
    }

}
@media (max-width: 992px){
    .column{
        padding:70px;
    }
}
@media (max-width: 768px){
    .column{
        padding:40px;
    }
}